@import "./public/fonts/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .kanitextl {
    font-family: "kanitextralight";
  }
  .kanitlight {
    font-family: "kanitlight";
  }

  .kanitreg {
    font-family: "kanitregular";
  }

  .kanitmed {
    font-family: "kanitmedium";
  }

  .rockreg {
    font-family: "rockwell_novaregular";
  }

  .rockbold {
    font-family: "rockwell_novabold";
  }

  .rocklight {
    font-family: "rockwell_novalight";
  }

  .hero {
    background-image: url("images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .customShadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
  }

  .card {
    @apply relative z-0 flex aspect-square flex-grow basis-full flex-col justify-end overflow-hidden rounded-md px-6 pb-3;
  }

  .label {
    @apply w-max rounded-3xl bg-ter px-6 py-3 text-sm text-white;
  }

  .label2 {
    @apply w-max rounded-3xl bg-ter px-3 py-2 text-xs text-white;
  }

  .card-img {
    @apply absolute left-0 top-0 z-[-1] h-full w-full object-cover;
  }

  .gradBg {
    background: -webkit-linear-gradient(
      105deg,
      hsla(205, 92%, 60%, 1) 10%,
      hsla(36, 92%, 60%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#39A7F7", endColorstr="#F7AA39", GradientType=1 );
    /* Fallbacks for if the above Properties Fail */
    background: -moz-linear-gradient(
      105deg,
      hsla(205, 92%, 60%, 1) 10%,
      hsla(36, 92%, 60%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#39A7F7", endColorstr="#F7AA39", GradientType=1 );
    background: hsla(205, 92%, 60%, 1);
    background: linear-gradient(
      105deg,
      hsla(205, 92%, 60%, 1) 10%,
      hsla(36, 92%, 60%, 1) 100%
    );
  }

  .searchBar {
    @apply w-4/5 max-w-screen-lg rounded-3xl border border-white bg-[transparent] px-8 py-7 text-base text-white placeholder:font-[kanitextralight] placeholder:text-base placeholder:text-white;
  }

  .popover:popover-open {
    @apply  flex h-screen w-screen items-center justify-center bg-ter;
  }

  .layout > :is(section) {
    margin-top: 10.5rem;
  }

  .line {
    width: 2px;
    background-color: black;
    height: 90%;
    margin-block: auto;
    position: absolute;
    left: 50%;
    align-self: center;
    transform-origin: center;
  }
}


.body{
  left: 9;
}
/* 
THese are the changes i want to be merged */