doctype html
html
  head
    meta(charset="UTF-8")

    meta(name="viewport", content="width=device-width,initial-scale=1")

    link(rel="stylesheet", href="/output.css")

    title My Travel Planner

  body
    block content
      h1 This is the Default Content
  footer.kanitreg.flex.h-60.items-end.justify-between.bg-black-75.px-24.pb-8.text-white(class=["text-[1.125rem]"])
    p Copyright@2024
    p Designed & Developed by <br/>Kehinde Malagu
